<div *ngIf="dataReceived">
  <div *ngFor="let seat of seats" class=" col-md-4  separate">
    <div class="card card-inverse card-info">
      <div class="card-block">
        <h4 class="card-title mt-3">{{seat.seatNo}}</h4>
        <h4 class="card-title" *ngIf="seat.isBusinessClass">Business</h4>
        <h4 class="card-title" *ngIf="!seat.isBusinessClass">Economy</h4>
        <div class="card-text">
        </div>
      </div>
    </div>
  </div>
</div>
