<div class="form-group">
  <label for="name">Name:</label>
  <input type="name" class="form-control" id="name" [(ngModel)]="name">
</div>
<div class="form-group">
  <label for="email">Email address:</label>
  <input type="email" class="form-control" id="email" [(ngModel)]="email">
</div>
<div class="form-group">
  <label for="pwd">Password:</label>
  <input type="password" class="form-control" id="pwd"  [(ngModel)]="password">
</div>
<button type="submit" class="btn btn-default" (click)="onClickSignUp()">Submit</button>
