<div class="dropdown">
  <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Select Source
    <span class="caret"></span></button>
  <ul class="dropdown-menu">
    <li *ngFor="let location of locations" (click)="onSelectSource(location)"><a>{{location.name}}</a></li>
  </ul>
</div>

<div class="dropdown">
  <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Select Destination
    <span class="caret"></span></button>
  <ul class="dropdown-menu">
    <li *ngFor="let location of locations" (click)="onSelectDestination(location)"><a>{{location.name}}</a></li>
  </ul>
</div>

<div class="form-group">
  <label>Dates:</label>
  <input type="text" class="form-control" [(ngModel)]="dates">
</div>

<button type="submit" class="btn btn-default" (click)="onClickSearchAirInfo()">Submit</button>

<table class="table">
  <thead>
  <tr>
    <th>Name</th>
    <th>Airplane</th>
    <th>Source</th>
    <th>Destination</th>
    <th>Fare</th>
    <th>Date</th>
    <th>Time</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let airDetail of airDetails" data-toggle="modal" data-target="#selectModal" (click)="onClickTable(airDetail.airInfo)">
    <td>{{airDetail.airInfo.name}}</td>
    <td>{{airDetail.airplane.name}}</td>
    <td>{{airDetail.sourceLocation.name}}</td>
    <td>{{airDetail.destinationLocation.name}}</td>
    <td>{{airDetail.airInfo.fare}}</td>
    <td>{{airDetail.airInfo.dates}}</td>
    <td>{{airDetail.airInfo.time}}</td>
  </tr>
  </tbody>
</table>


<div id="selectModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-md">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
        <h4 class="modal-title" id="selectModalLabel">Ticket Buy</h4>
      </div>

      <div class="modal-body">
        <div >
          <div>
            Data
          </div>
          <div *ngFor="let seat of seats" class=" col-md-4  separate">
            <div *ngIf="!seat.isBooked" class="card card-inverse card-info">
              <div class="card-block">
                <h4 class="card-title mt-3">{{seat.seatNo}}</h4>
                <h4 class="card-title" *ngIf="seat.isBusinessClass">Business</h4>
                <h4 class="card-title" *ngIf="!seat.isBusinessClass">Economy</h4>
                <div class="card-text">

                </div>
                <div class="card-footer">
                  <button class="btn btn-primary float-right btn-sm" (click)="onClickBookSeat(seat)">Book</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-success" data-dismiss="modal" (click)="onClickUpdateAirInfo()" >Buy</button>
      </div>
    </div>
  </div>
</div>
